:root {
  --primary-color: #08080c;
  --secondary-color: #d80032;
  --light-text: #edf2f4;
  --link-color: #e9ce2c;
  --accent-color: #942911;
  --heading-font: "Cormorant Unicase", serif;
  --text-font: "Moderustic", sans-serif;
}

html {
  font-size: 1.2rem;
  font-family: "Moderustic", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--text-font);
}

header,
footer {
  padding: 16px;
  background-color: var(--primary-color);
  color: var(--light-text);
}

header {
  border-bottom: 16px solid var(--secondary-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#mobile-nav a.active {
  color: var(--primary-color);
  background-color: var(--link-color);
}

a {
  padding: 8px;
}

.mobile-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#ham-menu {
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: relative;
  margin-right: 32px;
}

#ham-menu span {
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: var(--link-color);
  border-radius: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

#ham-menu span:nth-child(1) {
  top: 15%;
}

#ham-menu span:nth-child(3) {
  top: 85%;
}

#ham-menu.active span:nth-child(1) {
  top: 55%;
  transform: translate(-50%, -50%) rotate(45deg);
}

#ham-menu.active span:nth-child(2) {
  opacity: 0;
}

#ham-menu.active span:nth-child(3) {
  top: 45%;
  transform: translate(-50%, 50%) rotate(-45deg);
}

.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

ul {
  width: 100%;
  list-style: none;
  display: none;
  justify-content: space-between;
  border-top: 4px solid var(--link-color);
  border-bottom: 4px solid var(--link-color);
  padding: 4px;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--link-color);
}

a:hover {
  color: var(--accent-color);
}

a,
a:visited {
  color: var(--link-color);
}

#mobile-nav a.active {
  color: var(--primary-color);
  background-color: var(--link-color);
}

.hidden {
  display: none;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
  font-size: 1.5rem;
  font-weight: 600;
}

h1 {
  text-align: center;
  /* font-weight: 900; */
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 16px solid var(--secondary-color);
  width: 100%;
}

#spell-dialog {
  margin-top: 32px;
  justify-self: center;
  padding: 8px;
  /* width: 300px; */
  /* height: 100%; */
  text-align: center;
  font-size: 1.2rem;
  border-radius: 8px;
  border: 4px solid var(--secondary-color);
}

button {
  font-size: 20px;
  background-color: var(--primary-color);
  color: var(--link-color);
  border: 4px solid var(--link-color);
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

button:hover,
a:hover {
  background-color: var(--link-color);
  color: var(--primary-color);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

#spell-dialog span {
  font-weight: 600;
}

.spell-info p {
  margin-top: 16px;
  text-align: left;
}

#spells-container,
.card-container {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.card-container {
  width: 100%;
  justify-items: center;
}

#pre-made-characters {
  display: flex;
  flex-direction: column;
  margin: 16px;
  text-align: center;
  border: 4px solid var(--secondary-color);
  border-radius: 8px;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.8);
}

#pre-made-characters > h2 {
  color: var(--light-text);
}

.spell-card {
  border: 4px solid var(--secondary-color);
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--light-text);
}

.character-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 4px solid var(--accent-color);
  border-radius: 16px;
  max-width: 200px;
  margin-top: 8px;
  padding: 8px;
  background-color: var(--light-text);
}

.character-card > img {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

@media screen and (min-width: 900px) {
  #ham-menu {
    display: none;
  }

  header {
    flex-direction: row;
  }

  .mobile-header {
    width: 30%;
  }

  footer {
    margin-top: 8%;
    height: 120px;
  }

  nav {
    width: 65%;
    max-width: 700px;
    margin-right: 32px;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
